@{
    Page.Title = "Suit v3";
}
<img src="~/Images/Arc1.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        The Mark III, was the third suit created by Tony Stark and was the main suit Tony 
        used in the movie and in the game. After initial flight tests were completed on the Mark II , 
        Tony built the Mark III. The strongest of the armors in Iron Man, it wasdesigned for customization, 
        the Mark III armor can be equipped with a variety of incredible enhancements and upgrades. 
        It was heavily damaged at the end of the first Iron Man film by Iron Monger. It was later replaced by the Mark IV armor.
    </p>
}