html, body, p {
    margin: 0;
    padding: 0;
}

body {
    border: 3px solid;
}

* {
    font-family: Verdana;
    font-weight: 0;
    text-decoration: none;
    color: black;
}

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

  main, header {
    display: flex;
    flex-direction: row;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 15px;
}

main > article {
    margin: 15px;
    width: 100%;
    border: 2px solid;
    
    display: flex;
    flex-direction: column;
}

article > header {
    height: 50px;
    width: 50%;
    font-size: 1.5em;
    background: grey;
    border-left: 2px solid;
    border-bottom: 2px solid;

    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

article > div {
    padding: 15px;
    text-align: justify;
}

#PageHeader {
    padding: 30px;
    align-items: center;
}

#Logo {
    height: 75px;
    width: 75px;
    line-height: 75px;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#PageTitle {
    padding-left: 15px;
    font-size: 200%;
    font-weight: bold;
 }

 nav {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    flex-grow: 2;
}

nav > a {
    width: 75px;
}

#FooterAuthorName {
    font-weight: bold;
}

.content {
    flex: 1 0 auto;
}

#Hamburger {
    background-color: gray;
    border-radius: 7px;
    border: 1px solid;
}

#HamburgerWrapper {
    display: none;
    flex-grow: 2;
}

#HamburgerStripe {
    width: 22px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }

.footer {
    display: flex;
    height: 100px;
    background: lightgray;
    border-top: 2px solid;
    margin-top: 15px;

    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 900px) {
    main {
        flex-wrap: wrap;
    }
    #PageTitle, nav {
        display: none;
    }
    #HamburgerWrapper {
        display: flex;
        justify-content: flex-end;
    }
}